/*=============== CART ===============*/
.main-cart{
    width: 100%;
}

.cart{
    position: relative;
    padding-top: 120px;
    margin: auto;
    justify-content: center;

    &__title{
        font-size: 2.8rem;
        text-align: center;
        margin: 80px 0 100px;
        color: var(--text-color);
    }

    &__container{
        display: flex;
        width: auto;
        font-size: .9rem;
        color: #999;
        font-weight: 400;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 0;

        &__wrapper{
            width: 77%;

            & >tr  + tr{
                
            }
            & table{
                width: 100%;
                border-collapse: collapse;

                & tbody > tr {
                    border-top: 1px solid var(--border-color);
                    border-left: 1px solid var(--border-color);
                    border-bottom: 1px solid var(--border-color);
                }
            }

            &__col{    
                width: auto;    
                border: 1px solid var(--border-color);
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                text-transform: uppercase;


                & span{
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }

        &__wrapper + .cart__summary{
            margin-left: 20px;
        }
    }

    &__summary{
        background-color: var(background-color);
        width: 23%;
        border: 1px solid var(--border-color);
        color: var(--title-color);

        &__title{
            display: block;
            color: var(--title-color);
            font-family: Jost,sans-serif;
            font-weight: 400;
            line-height: 1;
            font-size: 2.8rem;
            margin-top: 0;
            margin-bottom: 1.2rem;
            padding-left: 2rem;
            padding-top: 1.5rem;
            text-align: left;
            font-size: 1.4rem;
        }

        &__shipping{
            display: block;
            padding: 20px;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
        }

        &__sub{
            display: block;
            padding: 10px;

            &__total{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 10px;
            }

            &__fee{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 10px;
            }

            &__totals{
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 10px;
            }
        }

        &__discount{
            display: block;
            padding: 20px;
            border-top: 1px solid var(--border-color) ;

        }

        &__button{
            display: block;
            color: var(--button-color);
            padding: 20px;

            &__btn{
                width: 100%;
                padding: 17px 10px 16px;
                font-size: 16px;
                text-transform: uppercase;
                border: 1px solid #304650;
                cursor: pointer;
                font-family: Jost,sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
                background-color: var(--light-b-button);
                color: var(--light-button);

                &:hover{
                    background: #304650;
                    border: 1px solid #304650;
                    color: var(--container-color);
                }
            }

            &__desc{
                display: block;
                margin-top: 20px;
                color: var(--title-color);
            }
        }
    }

    &__item{
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        color: var(--title-color);   

        &__img{
            width: auto;
            height: 100px;
            padding: 10px;
            margin-left: 20px;

            &__name{
                padding-left: 40px;
            }
        }
    }

    &__price{
        border: 1px solid var(--border-color);
        text-align: center;
        color: var(--title-color);   
        padding: 20px;
    }

    &__qty{
        border: 1px solid var(--border-color);
        padding: 20px;
        color: var(--title-color);   
        text-align: center;
    }

    &__subtotal{
        border: 1px solid var(--border-color);
        padding: 20px;
        color: var(--title-color);   
        text-align: center;
    }

    &__button{
        display: flex;
        width: 100%;
        padding-top: 20px;
        justify-content: space-between;

        &__btn{
            width: max-content;
            padding: 17px 10px 16px;
            font-size: 16px;
            text-transform: uppercase;
            border: 1px solid #304650;
            cursor: pointer;
            font-family: Jost,sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
            background-color: var(--light-b-button);
            color: var(--light-button);

            &:hover{
                background: #304650;
                border: 1px solid #304650;
                color: var(--container-color);
            }
        }

        &__btn + &__btn{
            margin-left: 20px;
        }
    }    
}










































// .cart{
//     position: fixed;
//     background-color: var(--body-color);
//     z-index: var(--z-fixed);
//     width: 100%;
//     height: 100%;
//     top: 0;
//     right: -100%;
//     padding: 3.5rem 2rem;
//     transition: .4s;

//     &__title-center{
//         font-size: var(--h2-font-size);
//         text-align: center;
//         margin-bottom: var(--mb-3);
//     }

//     &__close{
//         font-size: 2rem;
//         color: var(--title-color);
//         position: absolute;
//         top: 1.25rem;
//         right: .9rem;
//         cursor: pointer;
//     }

//     &__container{
//         display: grid;
//         row-gap: 1.5rem;
//     }

//     &__card{
//         display: flex;
//         align-items: center;
//         column-gap: 1rem;
//     }
//     &__box{
//         background-color: var(--container-color);
//         padding: .75rem 1.25rem;
//         border: 1px solid var(--border-color);
//     }
//     &__img{
//         width: 50px;
//     }
//     &__title{
//         font-size: var(--normal-font-size);
//         margin-bottom: .5rem;
//     }
//     &__price{
//         display: block;
//         font-size: var(--small-font-size);
//         color: var(--first-color);
//         margin-bottom: var(--mb-1-5);
//     }
//     &__amount,
//     &__amount-content{
//         display: flex;
//         align-items: center;
//     }
//     &__amount{
//         column-gap: 3rem;

//         &-content{
//             column-gap: 1rem;
//         }
//         &-box{
//             display: inline-flex;
//             padding: .25rem;
//             background-color: var(--container-color);
//             border: 1px solid var(--border-color);
//             cursor: pointer;
//         }
//         &-trash{
//             font-size: 1.15rem;
//             color: var(--first-color);
//             cursor: pointer;
//         }
//     }
//     &__prices{
//         margin-top: 6rem;
//         display: flex;
//         justify-content: space-between;

//         &-item,
//         &-total{
//             color: var(--title-color);
//         }
//         &-item{
//             font-size: var(--small-font-size);
//         }
//         &-total{
//             font-size: var(--h3-font-size);
//             font-weight: var(--font-medium);
//         }
//     }
// }

// .show-cart{
//     right: 0;
// }